<template>
    <div class="cashgoback-alert" v-if="show && getShop()">
        <div class="cashgoback_header">
            <img src="https://cashgoback.pl/assets/images/logo-cashgoback.png" width="250">
            <div class="cashgoback_close" @click="hideAlert()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="dismiss-icon"><path d="M18.3 5.71a.996.996 0 00-1.41 0L12 10.59 7.11 5.7A.996.996 0 105.7 7.11L10.59 12 5.7 16.89a.996.996 0 101.41 1.41L12 13.41l4.89 4.89a.996.996 0 101.41-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4z" fill="#208d4e"></path></svg>
            </div>
        </div>
        <div class="cashgoback_content" v-if="!cashbackActivated">
            <h3>Aktywuj <span class="bigger">{{getShop().commission}}</span> zwrotu gotówki w tym sklepie</h3>
            <a class="btn btn-activate" @click="activateCashback()">Aktywuj cashback</a>
            <div class="btn btn-cancel" @click="hideAlert()">Nie, dziękuję</div>
        </div>
        <div class="cashgoback_content" v-if="cashbackActivated">
            <h3><strong>Cashback aktywowany!</strong></h3>
            <p style="margin-bottom: 0">Dokonaj zakupu bezpośrednio na tej stronie.</p>
            <p style="margin-top: 0">Jeśli po aktywacji cashbacku przeszedłeś do innych podstron to <br>
                <span style="text-decoration: underline; cursor:pointer;" @click="activateCashback()">aktywuj cashback ponownie</span>
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ActivateCashbackAlert",
        data() {
            return {
                cookieName: 'cashgoback_hidden',
                show: false,
                cashbackActivated: false,
            }
        },
        methods: {
            getShop() {
                return this.$store.state.shop;
            },
            hideAlert() {
                this.show = false;
                this.createCookie(this.cookieName, 1, 24 * 60)
            },
            activateCashbackUrl() {
                return 'https://cashgoback.pl' + this.getShop().trackingUrl + '&url=' + encodeURIComponent(window.location.href)
            },
            activateCashback() {
                this.createCookie('cashgoback_cashbackActivated', 1, 5);
                this.createCookie('cashgoback_redirect_back', window.location.href, 2);
                window.location.href = this.activateCashbackUrl();
            },
            createCookie(name,value,minutes) {
                let expires = "";

                if (minutes) {
                    const date = new Date();
                    date.setTime(date.getTime()+(minutes*60*1000));
                    expires = "; expires="+date.toGMTString();
                }
                document.cookie = name+"="+ value + expires+"; path=/";
            },
            readCookie(name) {
                let nameEQ = name + "=";
                let ca = document.cookie.split(';');
                for (let i=0;i < ca.length;i++) {
                    let c = ca[i];
                    while (c.charAt(0) === ' ') c = c.substring(1,c.length);
                    if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length,c.length);
                }
                return null;
            }
        },
        mounted() {
            this.show = !this.readCookie(this.cookieName);
            this.cashbackActivated = !!this.readCookie('cashgoback_cashbackActivated');
        }
    }
</script>
